# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Environnement local
.env

# Données générées
data/
*.log


# ChromaDB
chroma/

# Streamlit
ui/.streamlit/
